.text-xl{
    font-size: 3.4rem;
    line-height: 130%;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.text-lg{
    font-size: 2rem;
    line-height: 130%;
    letter-spacing: 1px;
}

.text-md{
    font-size: 1.7rem;
    line-height: 150%;
    letter-spacing: 0.5px;
}

.text-md-2{
    font-size: 1.8rem;
    line-height: 150%;
    letter-spacing: 0.5px;
}

.text-sm{
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 0.5px;
    color: $content-color;
}

.line{
    text-align: center;
    padding: 10px 0;
}
